.section_about
{

    
  
    position: relative;
    
}


.container_about

{
    margin-top:5%;
    /* height:400px; */
    width:100%;
    align-items: center;
    justify-content: center;
   padding: 10%;
   padding-top: 0%;
   padding-bottom: 0;
    flex-direction: column;

}

.main-heading_about
{
    color: rgb(128, 126, 126);
    font-size: 25px;
    

}

.underline_about
{
    height:04px;
    width:4rem;
    background-color: #f76c2f;
    margin-top: 2px;
    margin-bottom: 10px;
}

.mapContainer_about
{
    margin-left: -10px;
  
}

.dis{
    display: flex;
    justify-content: space-evenly;
}


.mapContainer_about{
    margin-bottom: 10%;
}




@media screen and (max-width: 700px) {
    .container_about h3

    {
       font-size: 20px;
    
    }

    .dis{
        display: block;
        
    }

    .mapContainer_about{
        margin-bottom: 25%;
    }
}



/* .section
{
    padding-top:40px;
    
    background-color: rgba(203, 204, 206, 0.249);
    height: 1000px;
    position: relative;
    
}
.container

{
    margin-top:140px;
    height:400px;
    width:800px;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
    flex-direction: column;

}
.main-heading
{
    color: rgb(204,18,18);
    font-size: 25px;
    

}
.main-heading:hover
{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.underline
{
    height:04px;
    width:4rem;
    background-color: #f76c2f;
    margin-top: 2px;
    margin-bottom: 10px;
}

.mapContainer
{
    margin-left: -10px;
} */